a:link {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:active {
	color: #000;
	text-decoration: none;
}

header {
	display: inline-flex;
	align-items: center;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid gray;
}

#home, #more {
	margin: 5px;
}

#home {
	margin-left: 15px;
	margin-right: auto;
}

#more {
	margin-right: 15px;
}

main {
	margin-top: 100px;
}

#titleBar {
	display: inline-flex;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
}

#turnDisplay {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#boardContainer {
	border: 1px solid black;
	background-color: lightblue;
	height: 120px;
	width: 120px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	grid-gap: 3px;
	padding: 4px;
	border-radius: 4px;
}

.cell {
	font-family: Itim;
	font-weight: bold;
	font-size: 25px;
	background-color: white;
	text-align: center;
	border-radius: 2px;
	border: 1px solid black;
	padding-top: 15%;
}

.cell:hover {
	cursor: pointer;
}

#resetBtn {
	border: 1px solid black;
	border-radius: 2px;
	background-color: lightgrey;
	width: 80px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

#resetBtn:hover {
	cursor: pointer;
}

#resultsContainer {
	margin-top: 50px;
	width: 100%;
	display: flex;
	align-content: space-around;
	font-weight: bold;
	font-size: 15px;
}

#xScore, #xTitle {
	margin-left: 50px;
	margin-right: auto;
}

#oScore, #oTitle {
	margin-right: 50px;
	margin-left: auto;
}

footer {
	position: fixed;
	display: inline-flex;
	align-items: center;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background-color: white;
	border-top: 1px solid gray;
}

#linkedin, #github, #copywrite, #contactMe {
	margin: 5px;
}

#linkedin {
	margin-left: 15px;
}

#github {
	margin-right: auto;
}

#contactMe {
	margin-right: 15px;
}